/* VARIABLES */
:root {
  --main-beige: #bcaa89;
  --main-green: #455040;
  --main-white: #f5f5f5;
  --secondary-beige: #e6d9ca;
  --secondary-white: #ffffff;
  --title-font: "Arima Madurai", cursive;
  --text-font: "Sarabun", sans-serif;
}

/* GENERAL CLASSES */
.greenBackground {
  background-color: var(--main-green);
}

.beigeBackground {
  background-color: var(--main-beige);
}

.whiteBackground {
  background-color: var(--main-white);
}

.lightBeigeBackground {
  background-color: var(--secondary-beige);
}

.greenColor {
  color: var(--main-green);
}

.beigeColor {
  color: var(--main-beige);
}

.whiteColor {
  color: var(--main-white);
}

.titleFont {
  font-family: var(--title-font);
  font-weight: 900;
}

.textFont {
  font-family: var(--text-font);
}

.smallIcon {
  width: 32px;
}

.bigIcon {
  width: 56px;
}

section a {
  width: 100%;
}

/* BODY */
body {
  min-height: 100vh;
  font-family: var(--text-font);
  width: 100vw;
}

/* HEADER */
header {
  height: 112px;
  padding: 18px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerFirstContainer {
  width: 60%;
  max-width: 220px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerLogoContainer {
  border-radius: 50%;
  height: 77px;
  width: 77px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.mobileMenu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  z-index: 100;
  top: 27px;
  right: 24px;
}

.menu {
  position: fixed;
  transform: translateY(-100%);
  transition: transform 0.2s;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: var(--main-green);
  list-style: none;
  padding-top: 30vh;
  max-height: 100vh;
  font-weight: 600;
}

.showMenu {
  transform: translateY(0);
}

.fixedMenuButton {
  position: fixed;
}

.menuItem {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 2rem 4rem;
  font-size: 1.8rem;
  color: var(--main-beige);
  text-decoration: none;
}

.menuItem:hover {
  color: var(--main-white);
}

.menuItem .material-symbols-outlined {
  fill: 1;
  display: inline-block;
  font-size: 12px;
}

/* FIRST SECTION */
.firstSection {
  min-height: 1066px;
  background-image: url("../images/section1-bg-mobile.png");
  background-size: 100vw 1066px;
  padding: 0 30px;
}

.firstTextContainer {
  height: 588px;
  padding-top: 140px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

h1 {
  font-size: 32px;
  text-align: center;
  line-height: 142.8%;
}

.firstSubtitle {
  font-size: 18px;
  text-align: center;
  line-height: 25.7px;
}

.subscribeButton {
  font: 900 16px var(--title-font);
  color: var(--main-beige);
  background-color: var(--main-green);
  border: none;
  border-bottom: 5px solid var(--main-beige);
  border-radius: 100px;
  width: 100%;
  height: 50px;
}

.beigeSubscribeButton {
  font: 900 16px var(--title-font);
  color: var(--main-green);
  background-color: var(--main-beige);
  border: none;
  border-bottom: 5px solid var(--main-green);
  border-radius: 100px;
  width: 100%;
  height: 50px;
}

/* SECOND SECTION */
.secondSection {
  height: "auto";
  padding: 80px 34px 20px 34px;
}

.secondSection h2 {
  font-size: 32px;
  text-align: center;
  line-height: 45.7px;
}

.s2Paragraph {
  font-size: 18px;
  text-align: center;
  line-height: 25.7px;
  padding-top: 16px;
}

.cardsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  height: 2087px;
}

.card {
  height: 425px;
  width: 100%;
  max-width: 273px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-size: 100% 94%;
  background-repeat: no-repeat;
  background-position: bottom;
  padding: 0 16px 16px 16px;
}

.number {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
}

.cardText {
  height: 35%;
  padding: 30px 16px;
  text-align: center;
  font: 900 18px var(--title-font);
  line-height: 21.15px;
  display: flex;
  align-items: center;
}

.cardOne {
  background-image: url("../images/section2-img1.jpg");
}

.cardTwo {
  background-image: url("../images/section2-img2.jpg");
}

.cardThree {
  background-image: url("../images/section2-img3.jpg");
}

.cardFour {
  background-image: url("../images/section2-img4.jpg");
}

/* THIRD SECTION */
.thirdSection {
  height: 100vw;
  width: 100vw;
  background-image: url("../images/section3-bg-mobile.jpg");
  background-size: 100% 100%;
  padding: 10.41% 7.94%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thirdSection h3 {
  font-size: 40px;
  font-weight: 500;
  line-height: 52px;
  text-align: center;
  font-style: italic;
}

/* FOURTH SECTION */
.fourthSection {
  height: 1113px;
  padding: 80px 32px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.fourthSection h3 {
  font-size: 40px;
  text-align: center;
  line-height: 57.12px;
  max-width: 80%;
}

.recipeCard {
  width: 100%;
  max-width: 360px;
  height: 25%;
  max-height: 295px;
  border: 3px solid var(--main-green);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.recipeCard img {
  height: 80px;
  width: 80px;
}

.recipeCard h4 {
  text-align: center;
  font: 900 20px var(--title-font);
  width: 100%;
  max-width: 232px;
}

/* FIFTH SECTION */
.fifthSection {
  height: 776px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 34px;
  justify-content: space-between;
}

.fifthSection h3 {
  font-size: 28px;
  text-align: center;
  line-height: 40px;
}

.fifthSection p {
  font-size: 20px;
  text-align: center;
  line-height: 29px;
  justify-self: flex-start;
  margin-bottom: 24px;
}

.fifthSection img {
  width: 100%;
  max-width: 360px;
  height: 120%;
  padding-bottom: 80px;
}

/* SIXTH SECTION */
.sixthSection {
  height: 1585px;
  padding: 19% 34px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sixthSection h3 {
  font-size: 28px;
  line-height: 40px;
  text-align: center;
}

.offer {
  height: 1107px;
  max-width: 360px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 80px 10px;
}

.offer figure {
  height: 15%;
}

.offer img {
  height: 100%;
}

.offer ul :last-child {
  border: none;
}

.offer li {
  color: var(--main-white);
  height: 110px;
  text-align: center;
  border-bottom: 1px solid var(--main-beige);
  font-size: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 275;
  gap: 16px;
}

.offer li span {
  color: var(--main-beige);
  font-size: 16px;
}

.offer div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.price {
  font-size: 48px;
  text-align: center;
}

.payment {
  font-size: 14px;
  text-align: center;
}

/* SEVENTH SECTION */
.seventhSection {
  height: 580px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 80px 14px;
}

.seventhSection figure {
  height: 38%;
}

.seventhSection img {
  height: 100%;
}

.seventhSection h4 {
  font-size: 28px;
  line-height: 43px;
  text-align: center;
  margin-bottom: 17px;
}
.seventhSection p {
  text-align: center;
  line-height: 35px;
  font-size: 20px;
}

/* EIGHTH SECTION */
.eighthSection {
  height: 1160px;
  padding: 70px 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.eighthSection h3 {
  font-size: 32px;
  line-height: 40px;
  max-width: 360px;
}

.eighthSection div {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.eighthSection p {
  font-size: 18px;
  line-height: 21px;
  max-width: 360px;
}

.eighthSection b {
  font-weight: 900;
}

.eighthSection figure {
  width: 92%;
  align-self: center;
}

.eighthSection img {
  width: 100%;
}

/* FOOTER */
footer {
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer figure {
  width: 30%;
}

footer img {
  width: 100%;
}

/* CONTACT SECTION */
.contactSection {
  height: calc(100vh - 232px);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.contactSection h3 {
  font-size: 32px;
  max-width: 360px;
  text-align: center;
}

.contactSection div {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
